html,
body {
  font-family: "microsoft yahei";
  margin: 0;
  padding: 0;
  background-color: #fafafa !important;
}
/* 滚动条 */
::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}
/* --- */
.bgc_tooltip .ant-tooltip-inner {
  color: #333;
  background-color: #fff !important;
}
.bgc_tooltip .ant-tooltip-arrow::before {
  background-color: #fff !important;
}

* a {
  color: rgba(0, 0, 0, 0.65) !important;
}
.el-form-item__content {
  margin-left: 0 !important;
}
.el-notification {
  width: 150px !important;
}
.ant-drawer-content,
.ant-drawer-content-wrapper {
  /* box-shadow: 0; */
  /* box-shadow: 1px 7px 12px 0 rgb(0 0 0 / 20%); */
  background-color: white;

  width: 158px !important;
  height: 300px !important;
}
.ant-drawer-mask {
  background-color: rgba(0, 0, 0, 0) !important;
}
.ant-drawer-content-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -158px;
  /* margin-top: -1.15379rem; */
  /* transform: translate(-50%, -50%); */
}
.ant-drawer-body {
  padding: 0 !important;
}

.ant-menu-item {
  padding-left: 15px !important;
}
@media screen and (max-width: 500px) {
  .ant-drawer-content-wrapper {
    margin-top: -234px !important;
  }
}
@media screen and (min-width: 501px) {
  .ant-drawer-content-wrapper {
    margin-top: -158px;
  }
}
@media screen and (max-width: 900px) {
  .ant-drawer-content-wrapper {
    margin-top: -158px;
  }
}
@media screen and (min-width: 901px) {
  .ant-drawer-content-wrapper {
    margin-top: -158px;
  }
}

.ant-comment-actions {
  padding: 0 !important;
}
.ant-comment-inner {
  margin: 0;
  padding: 0 !important;
}
.ant-comment-avatar {
  height: 20px !important;
}
.ant-popover-inner-content {
  padding: 0 !important;
}
