@font-face {
  font-family: "iconfont"; /* Project id 1997088 */
  src: url('iconfont.woff2?t=1624365512213') format('woff2'),
       url('iconfont.woff?t=1624365512213') format('woff'),
       url('iconfont.ttf?t=1624365512213') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huifu:before {
  content: "\eb23";
}

.icon-biaoqing:before {
  content: "\e60b";
}

.icon-liuyan:before {
  content: "\e680";
}

.icon-caogaoxiang:before {
  content: "\e60a";
}

.icon-xiewenzhang:before {
  content: "\e645";
}

.icon-liebiao:before {
  content: "\e86b";
}

.icon-xiugai:before {
  content: "\e630";
}

.icon-duanxin:before {
  content: "\e8ab";
}

.icon-guanyu1:before {
  content: "\e699";
}

.icon-fanhuidingbu:before {
  content: "\e633";
}

.icon-chongwutubiao24:before {
  content: "\e604";
}

.icon-feichuan2:before {
  content: "\e63c";
}

.icon-guidang:before {
  content: "\e6fb";
}

.icon-shouye:before {
  content: "\e608";
}

.icon-wode:before {
  content: "\e609";
}

.icon-feichuan2-copy:before {
  content: "\e6fc";
}

.icon-feichuan:before {
  content: "\e698";
}

.icon-guanyu:before {
  content: "\e658";
}

.icon-shouye1:before {
  content: "\e62c";
}

.icon-shujuguidang:before {
  content: "\e61e";
}

